.first-selection-button {
  margin: 1rem;
  height: 6rem;
  width: 40%;
  border-radius: 1rem;
  background-color: white;
  border: 0.1rem black solid;
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (max-width: 425px) {
  .first-selection-button{
    font-size: 1rem;
    width: 34%;
    height: 5rem;
  }
}

.first-selection-button:hover {
  cursor: pointer;
  background-color: #16163f;
  color: #fde6a3;
}