.home-card-button {
  background-color: white;
  width: 10rem;
  height: 4rem;
  font-size: 1rem;
  border-radius: 1rem;
}

.home-card-button:hover {
  background-color: #16163f;
  color: #fde6a3;
  cursor: pointer;
}