.back-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.problem-title {
  text-align: center;
  font-size: 3rem;
}

@media screen and (max-width: 425px) {
  .problem-title {
    text-align: right;
    font-size:  1.6rem;
    width: 70%;
  }

  .back-title {
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}