.first-selection-div {
  text-align: center;
}

.first-selection-button {
  margin: 1rem;
  height: 6rem;
  width: 40%;
  border-radius: 1rem;
  background-color: white;
  border: 0.1rem black solid;
  font-size: 1.2rem;
  font-weight: bold;
}

.first-selection-button:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  color: aliceblue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

.first-selection-input {
  border-radius: 1rem;
  padding: 1%;
  background-color: white;
  margin: 0.3rem;
  border: 0.1rem black solid;
  font-size: 1.2rem;
  text-align: center;
}

.first-selection-input:hover {
  background-color: cornflowerblue;
  color: aliceblue;
}

.helper-text {
  font-size: 1.5rem;
}

.current-number {
  background-color: white;
  text-align: center;
  font-size: 2rem;
  margin-left: 42%;
  margin-right: 42%;
  border: 3px black solid;
  margin-bottom: 5%;
}

.factor-button {
  background-color: white;
  border: 1px black solid;
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
}

.factor-button:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  color: aliceblue;
}