.container {
  padding: 2rem;
  padding-top: 0rem;
  background: rgb(194,51,155);
  background: linear-gradient(117deg, rgba(194,51,155,1) 0%, rgba(17,184,215,1) 58%, rgba(194,51,155,1) 92%);
  min-height: 100vh;
  overflow: hidden;
}

.problem-description {
  text-align: justify;
  background-color:aliceblue;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2.7rem;
  font-size: max(1vw, 1rem);
  border-radius: 2rem;
}

.problem-description:hover {
  transform: scale(1.005);
  border-radius: 0rem;
}

.problem-hr {
  margin: 2rem;
}

.problem-sources {
  font-size: max(0.8vw, 0.8rem);
}

.problem-board {
  justify-content: center;
  background-color: aliceblue;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2.7rem;
  border-radius: 2rem;
  text-align: center;
}

.problem-board:hover {
  transform: scale(1.005);
  border-radius: 0rem;
}