.square-valid {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-size: min(3rem, 7vw);
  height: min(3rem, 7vw);
  width: min(3rem, 7vw);
}

.square-valid:hover {
  cursor: pointer;
  background-color: lime;
}

.square-non-valid {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  padding: 1px;
  font-size: min(3rem, 7vw);
  height: min(3rem, 7vw);
  width: min(3rem, 7vw);
}

.square-non-valid:hover {
  cursor: pointer;
  background-color: crimson;
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -4px;
}