.square-valid {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  height: 3rem;
  width: 3rem;
}

.square-valid:hover {
  cursor: pointer;
  background-color: lime;
}

.square-non-valid {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  padding: 1px;
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
}

.square-non-valid:hover {
  cursor: pointer;
  background-color: crimson;
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -4px;
}

.restart-button {
  background-color: white;
  border-width: 2px;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.restart-button:hover {
  background-color: ivory;
}

.restart-button svg {
  margin-left: 6px;
  transform: translateY(2px);
}