.first-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: aliceblue;
  background: rgb(194,51,155);
  background: linear-gradient(-150deg, #16163f 0%, #fde6a3 20%, #8296c4 40%, #feca72 60%, #495670 80%);
  min-height: 100vh;
  overflow: hidden;
}

.home-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 1rem;
}