.first-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: aliceblue;
  background: rgb(194,51,155);
  background: linear-gradient(117deg, rgba(194,51,155,1) 0%, rgba(17,184,215,1) 58%, rgba(194,51,155,1) 92%);
  min-height: 100vh;
  overflow: hidden;
}